@import "../../themes/globals";

// Img
// --------------------------------------------------

/// @prop - Color of the image when it hasn't fully loaded yet
$img-placeholder-background:         #eee !default;


.ion-img {
  display: inline-block;

  min-width: 20px;
  min-height: 20px;

  background: $img-placeholder-background;

  contain: strict;
}

.ion-img img {
  display: block;
  object-fit: cover;
  z-index: 1;
}

