$button-red:#ff0033;

#banner{
  position: relative;
  top:5px;
}

.btn{

}

.top{
  position: relative;
  left: 50px;
  width: 150px;
  height: 2px;
  background: #ff0033;
}

.bottom{
  position: relative;
  left:150px;
  top:29px;
  width: 50px;
  height: 2px;
  background: #ff0033;
}

.left{
  float: left;
  background: none;
  height:30px;
  width: 2px;
  position: relative;
}
.right{
  float: right;
  height: 30px;
  width: 2px;
  background: #ff0033;
  position: relative;
}

.run{
   .top{
    animation:rightTo 1s ease-in 0s;
   }
}

.run{
  .bottom{
    animation:leftTo 1s ease-in 0s;
  }
}

.run{
  .right{
    animation: bottomTo 1s ease-in 0s;
  }
}

.run{
  .left{
    animation: topTo 1s ease-in 0s;
  }
}

#ghost{
   border: 0px solid #fff;
   color: rgba(256,0,51,1);
   height: 30px;
   width: 200px;
   text-align: center;
   cursor: pointer;
   animation:fontShow 1s ease-in;
}


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
}


@include keyframes(leftTo){
    0%{
      height: 2px;
      left:0;
      width: 200px;
    }
    55%{
      height: 2px;
      left:0;
      width: 100px;
    }
    70%{
       height: 2px;
      width:0.1px;
      left:0;
    }
    85%{
       height: 2px;
      width:0.1px;
      left:200px;
    }
    100%{
       height: 2px;
      left:150px;
      width:50px;
    }
}
@include keyframes (rightTo){
    0%{
       height: 2px;
      left:0;
      width: 0.1px;
    }
    55%{
      height: 2px;
      left:0;
      width: 100px;
    }
    70%{
       height: 2px;
      width:200px;
      left:0;
    }
    85%{
       height: 2px;
      width:200px;
      left:0;
    }
    100%{
       height: 2px;
      left:50px;
      width:150px;
    }
}
@include keyframes (topTo){
    0%{
      background: #ff0033 ;
      width: 2px;
      height: 31px;
    }
    70%{
       width: 2px;
      height:31px;
    }
    84.9%{
      width: 2px;
      height: 3px;
      background: #ff0033;
    }
    85%{
       width: 2px;
      height: 3px;
      background: none;
    }
    100%{
      background: none;
       width: 2px;
      height: 3px;
    }
}
@include keyframes (bottomTo){
    0%{
       width: 2px;
      height: 3px;
      background: none;
    }
    70%{
       width: 2px;
      height: 3px;
      background: none;
    }
    71%{
      width: 2px;
      height: 3px;
      background: #ff0033;
    }
    85%{
       width: 2px;
      height: 31px;
    }
    100%{
       width: 2px;
      height: 31px;
    }
}

@include keyframes (fontShow){
  0%{
    color:rgba(256,0,51,0);
  }
  90%{
    color:rgba(256,0,51,0);
  }
  100%{
    color:rgba(256,0,51,1);
  }
}
