@import "../../style/globals";

// Item Collapse
// --------------------------------------------------

.item-collapse-inner {
  position: relative;
  z-index: 1;
  background-color: #fff;
  opacity: 1;
  transition: all ease 300ms;
  transform: translate3d(0, 0, 0);
}

.#{$prefix}-item-collapse-group {
  .item-collapse > .#{$prefix}-item > .item-inner {
    position: relative;
    padding-right: 32px;
  }
}

.collapse-enter, .collapse-leave-to {
  opacity: 0;
  height: 0 !important;
}
