.vm-scroll-segment {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .scroll-segment-outer {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    // for hide scroll bar
    height: calc(100% + 10px);
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
    
  .scroll-segment-wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // for hide scroll bar
    height: calc(100% - 10px);
  }
}
