{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "comments": false,
  "plugins": [],
  "env": {
    "demo": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2"
      ],
      "plugins": [
        [
          "vimo",
          {
            "libraryName": "vimo",
            "libraryDirectory": "components",
            "style": "scss",
            "themes": [
              {
                "themeName": "vimo-theme-ios",
                "themeDirectory": "components",
                "themeExt": "scss",
                "symbol": "ios"
              },
              {
                "themeName": "vimo-theme-md",
                "themeDirectory": "components",
                "themeExt": "scss",
                "symbol": "md"
              }
            ]
          }
        ]
      ]
    },
    "lib": {
      "presets": [
        "env",
        "stage-2"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
