{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "comments": false,
  "plugins": [],
  "env": {
    "demo": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2"
      ],
      "plugins": [
        [
          "import",
          {
            "libraryName": "vimo",
            "libraryDirectory": "components"
          }
        ]
      ]
    },
    "lib": {
      "presets": [
        "env",
        "stage-2"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
