.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
backup
.idea
/docs/action-sheet_action-sheet.js.html
/docs/action-sheet_action-sheet.vue.html
/docs/scripts
/docs/styles
/docs/fonts
