node_modules/

npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log

# backup/
_lib/

.DS_Store
.idea
.tmp
*.zip

publish/
coverage/
lib/
dist/
es/

docs
docs/
examples/dist
