@import "../../../themes/ionic.globals";

// Loading Indicator
// --------------------------------------------------

.ion-loading {
  
  //position: absolute;
  position: fixed;
  z-index: $z-index-overlay + $z-index-overlay-loading;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: strict;
  
  @include position(0, 0, 0, 0);
}

.loading-wrapper {
  z-index: $z-index-overlay-wrapper;
  display: flex;
  margin-bottom: 40px;
  
  //opacity: 0;
  
  font-size: 14px;
  
  // addStyle
  transition: transform ease-in-out 200ms, opacity ease-in-out 200ms;
  align-items: center;
}
