@import "../../../style/globals";

// Toolbar Buttons
// --------------------------------------------------

.bar-button {
  position: relative;
  display: inline-block;
  line-height: 1;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  cursor: pointer;
  user-select: none;

  @include margin(0);
  @include padding(0);
  @include text-align(center);
  @include appearance(none);

  // Badge
  .#{$prefix}-badge {
    position: absolute;
    top: 0;
    right: -4px;
    padding: 2px 6px;
    font-size: 10px;
  }
}

// Menu Toggle
// --------------------------------------------------

.bar-button-menutoggle {
  display: flex;
  align-items: center;
}

// Back Button
// --------------------------------------------------

.back-button {
  //display: none;
  display: inline-block;
}

//.back-button.show-back-button {
//  display: inline-block;
//}

.back-button-text {
  display: flex;
  align-items: center;
}

.icon-arrow-back {
  display: inline-block;
  width: 18px; /* no */
  height: 23px; /* no */
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 23px; /* no */
}
