@import "../../themes/globals.md";

// Material Design Content
// --------------------------------------------------

.content-md {
  color: $text-md-color;
  background-color: $background-md-color;
}

.content-md hr {
  background-color: rgba(0, 0, 0, .08);
}


/// @prop - Background color of the outer content
$content-md-outer-background: #fff !default;

// outer-content是用户自定义类, 不是由组件自己添加的
.content-md.outer-content {
  background: $content-md-outer-background;
}