$OFF_BOTTOM: 40px !default;
$EASING: cubic-bezier(0.36, 0.66, 0.04, 1) !default;
$DURATION: 500ms !default;
$CENTER: 0px !default;
$OPACITY: opacity !default;
$TRANSFORM: transform !default;
$OPACITY_ZERO: 0.01 !default;

// fade-bottom-transition Transition(forward)
// --------------------------------------------------

// 进入的页面
.fade-bottom-transition-forward-enter {
  opacity: $OPACITY_ZERO !important;
  transform: translateY($OFF_BOTTOM);
}

.fade-bottom-transition-forward-enter-active {
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
}

// 退出的页面
.fade-bottom-transition-forward-leave-active {
  transition-duration: $DURATION;
}

// fade-bottom-transition Transition(backward)
// --------------------------------------------------

// 进入的页面
.fade-bottom-transition-backward-enter-active {
  transition-duration: $DURATION;
}

// 退出的页面
.fade-bottom-transition-backward-leave-active {
  opacity: $OPACITY_ZERO !important;
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
  transform: translateY($OFF_BOTTOM);
}
