$EASING: cubic-bezier(0.36, 0.66, 0.04, 1) !default;
$DURATION: 500ms !default;
$DELAY: 200ms !default;
$CENTER: 0px !default;
$OPACITY: opacity !default;
$TRANSFORM: transform !default;
$SCALE: scale !default;
$SCALE_SMALL: 0.95 !default;
$OPACITY_ZERO: 0.01 !default;
$TRANSFORM_ORIGIN: center center !default;

// zoom-transition Transition(forward)
// --------------------------------------------------

// 进入的页面
.zoom-transition-forward-enter {
  opacity: $OPACITY_ZERO !important;
  transform: scale($SCALE_SMALL);
}

.zoom-transition-forward-enter-active {
  transition: $TRANSFORM $DURATION $DELAY $EASING, $OPACITY $DURATION $DELAY $EASING;
  transform-origin: $TRANSFORM_ORIGIN;
}

// 退出的页面
.zoom-transition-forward-leave-active {
  transition-duration: $DURATION;
  transform-origin: $TRANSFORM_ORIGIN;
}

// zoom-transition Transition(backward)
// --------------------------------------------------

// 进入的页面
.zoom-transition-backward-enter {
}

.zoom-transition-backward-enter-active {
  transition-duration: $DURATION;
  transform-origin: $TRANSFORM_ORIGIN;
}

// 退出的页面
.zoom-transition-backward-leave-active {
  opacity: $OPACITY_ZERO !important;
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
  transform: scale($SCALE_SMALL);
  transform-origin: $TRANSFORM_ORIGIN;
}
