<ion-header>

  <ion-toolbar>
    <ion-title>Select Item: Single Value</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="outer-content">

  <Item>
    <Label>Gender</Label>
    <Select [(ngModel)]="gender" class="e2eSelectGender">
      <Option value="f">Female</Option>
      <Option value="m">Male</Option>
    </Select>
  </Item>

  <Item>
    <Label>Gaming</Label>
    <Select [(ngModel)]="gaming" (ionCancel)="gamingCancel()" (ionChange)="gamingChange($event)">
      <Option value="nes">NES</Option>
      <Option value="n64">Nintendo64</Option>
      <Option value="ps">PlayStation</Option>
      <Option value="genesis">Sega Genesis</Option>
      <Option value="saturn">Sega Saturn</Option>
      <Option value="snes">SNES</Option>
    </Select>
  </Item>

  <Item>
    <Label>Operating System</Label>
    <Select [(ngModel)]="os" interface="alert" submitText="Okay" cancelText="Nah">
      <Option value="dos">DOS</Option>
      <Option value="lunix">Linux</Option>
      <Option value="mac7">Mac OS 7</Option>
      <Option value="mac8">Mac OS 8</Option>
      <Option value="win3.1">Windows 3.1</Option>
      <Option value="win95">Windows 95</Option>
      <Option value="win98">Windows 98</Option>
    </Select>
  </Item>

  <Item>
    <Label>Notifications</Label>
    <Select [(ngModel)]="notifications" [selectOptions]="notificationSelectOpts" interface="action-sheet" cancelText="Cancel!">
      <Option value="enable">Enable</Option>
      <Option value="mute">Mute</Option>
      <Option value="mute_week">Mute for a week</Option>
      <Option value="mute_year" (ionSelect)="notificationSelect($event)">Mute for a year</Option>
    </Select>
  </Item>

  <Item>
    <Label>Music</Label>
    <Select [(ngModel)]="music" [selectOptions]="musicSelectOpts" placeholder="Select Music">
      <Option>Alice in Chains</Option>
      <Option>Green Day</Option>
      <Option>Nirvana</Option>
      <Option>Pearl Jam</Option>
      <Option>Smashing Pumpkins</Option>
      <Option>Soundgarden</Option>
      <Option (ionSelect)="musicSelect($event)">Stone Temple Pilots</Option>
    </Select>
  </Item>

  <Item>
    <Label>Date</Label>
    <Select [(ngModel)]="month">
      <Option value="01">January</Option>
      <Option value="02">February</Option>
      <Option value="03">March</Option>
      <Option value="04">April</Option>
      <Option value="05">May</Option>
      <Option value="06">June</Option>
      <Option value="07">July</Option>
      <Option value="08">August</Option>
      <Option value="09">September</Option>
      <Option value="10">October</Option>
      <Option value="11">November</Option>
      <Option value="12">December</Option>
    </Select>
    <Select [(ngModel)]="year">
      <Option *ngFor="let yr of years">{{yr}}</Option>
    </Select>
  </Item>

  <Item>
    <Label>Statuses</Label>
    <Select (ionChange)="statusChange($event)">
      <Option value="selected" selected>Selected</Option>
      <Option value="default">Default</Option>
      <Option value="disabled" disabled="true">Disabled</Option>
    </Select>
  </Item>

  <Item>
    <Label>Currency</Label>
    <Select [(ngModel)]="currency" [selectedText]="selectedText()">
      <Option *ngFor="let cur of currencies" [value]="cur">
        {{cur.symbol}} ({{cur.code}}) {{cur.name}}
      </Option>
    </Select>
  </Item>

  <button ion-button (click)="resetGender()">Reset Gender</button>

  <p aria-hidden="true" padding>
    <code>gender: {{gender}}</code>
    <br>
    <code>gaming: {{gaming}}</code>
    <br>
    <code>os: {{os}}</code>
    <br>
    <code>notifications: {{notifications}}</code>
    <br>
    <code>music: {{music}}</code>
    <br>
    <code>date: {{month}}/{{year}}</code>
    <br>
    <code>status: {{status}}</code>
    <br>
    <code>currency: {{currency | json}}</code>
    <br>
  </p>

  <form [formGroup]="fruitsForm">
    <Item>
      <Label>formControlName, disabled</Label>
      <Select formControlName="fruit">
        <Option>Grape</Option>
        <Option>Cherry</Option>
        <Option>Strawberry</Option>
        <Option>Mango</Option>
      </Select>
    </Item>
  </form>

</ion-content>
