@import "../../style/globals";

// Segment
// --------------------------------------------------

.#{$prefix}-segment {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.segment-button {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  @include margin-horizontal(0);
  @include text-align(center);
}
