.vm-separation {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .vm-separation-line {
        position: relative;
        flex: 1;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            height: 0;
            width: 100%;
            border-top: 1px solid #dddddd;
        }
    }
    .vm-separation-wrap {
        padding: 0 10px;
        color: #9f9f9f;
    }
}