.vm-separation {
  position: relative;
  display: flex;
  width: 100%;
  margin: 15px 0;
  align-items: center;
  justify-content: center;

  .vm-separation-line {
    position: relative;
    flex: 1;

    &::after {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0;
      content: "";
      border-top: 1px solid #ddd;
    }
  }

  .vm-separation-wrap {
    padding: 0 10px;
    color: #9f9f9f;
  }
}
