@import "../../themes/globals.md";

// Material Design App
// --------------------------------------------------

.ion-app.md {
  font-family: $font-family-md-base;
  font-size: $font-size-md-base;
  background-color: $background-md-color;
}


//
//.ion-app.md .page-leave-active {
//  transition-duration: 200ms;
//  transition-timing-function: cubic-bezier(0.47,0,0.745,0.715);
//}
//
//.ion-app.md .page-enter-active {
//  transition-duration: 280ms;
//  transition-timing-function: cubic-bezier(0.36,0.66,0.04,1);
//}


.ion-app.md[transition-direction="forward"] {
  //.page-enter {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-enter-active {
  //  box-shadow: 0 0 10px rgba(0,0,0,.15);
  //}
  //.page-enter-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-leave {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 0.01;
  //  z-index: 1;
  //}
  //.page-leave-to {
  //  transform: translate3d(0, -40px, 0);
  //  opacity: 0;
  //  z-index: 1;
  //}


  .page-enter {
    transform: scale(.95);
    opacity: 0.01 !important;
  }

  .page-enter-active {
    transform-origin: center center;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  .page-leave-active {
    transform-origin: center center;
    transition-duration: 500ms;
  }
}

.ion-app.md[transition-direction="back"] {
  //.page-enter {
  //  transform: translate3d(0, -40px, 0);
  //  opacity: 0.01;
  //  z-index: 1;
  //}
  //.page-enter-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 1;
  //}
  //.page-leave {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}
  //.page-leave-active {
  //  box-shadow: 0 0 10px rgba(0,0,0,.15);
  //}
  //.page-leave-to {
  //  transform: translate3d(0, 0, 0);
  //  opacity: 1;
  //  z-index: 2;
  //}

  .page-enter {}

  .page-enter-active {
    transform-origin: center center;
    transition-duration: 500ms;
  }

  // 退出的页面
  .page-leave-active {
    transform: scale(.95);
    opacity: 0.01 !important;
    transition: -webkit-transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1), opacity 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
    transform-origin: center center;
  }
}