@import "../../style/globals";

// Content
// --------------------------------------------------

.#{$prefix}-content {
  position: relative;
  display: block;
  width: 100%;
  contain: layout style;
  
  @include position(0, null, null, 0);
  
  &::before {
    display: table;
    content: " ";
  }
}

// Scrollable Content
// --------------------------------------------------
.scroll-content {
  //position: absolute;
  position: relative;
  z-index: $z-index-scroll-content;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: style layout;
  
  &::after,
  &::before {
    display: table;
    content: " ";
  }
  
  @include position(-1px, 0, 0, 0);
}

.scroll-content.disable-scroll {
  overflow: hidden !important;
}

.#{$prefix}-content.has-refresher > .scroll-content {
  background-color: inherit;
}

// Fixed Content (ion-fixed and ion-fab)
// --------------------------------------------------

.fixed-content {
  position: fixed;
  left: 0;
  z-index: $z-index-fixed-content;
  display: block;
  width: 100%;
  height: 0;
  
  [fixed],
  [refresher],
  [fixed-top],
  [fixed-bottom] {
    position: absolute;
    z-index: $z-index-fixed-content + 10;
  }
  
  [fixed],
  [refresher],
  [fixed-top] {
    top: 0;
  }
  
  [fixed-bottom] {
    bottom: 0;
  }
}

// Content Padding
// --------------------------------------------------

.#{$prefix}-app [no-padding]:not(.#{$prefix}-content),
.#{$prefix}-app [no-padding] .scroll-content {
  @include padding(0);
}

