@import "../../themes/globals";

// Content
// --------------------------------------------------

.#{$prefix}-content {
  position: relative;
  display: block;
  width: 100%;
  contain: layout style;

  @include position(0, null, null, 0);

  &::before {
    display: table;
    content: " ";
  }
}

// Scrollable Content
// --------------------------------------------------
.scroll-content {
  //position: absolute;
  position: relative;
  z-index: $z-index-scroll-content;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: style layout;

  &::after,
  &::before {
    display: table;
    content: " ";
  }

  @include position(-1px, 0, 0, 0);
}

.scroll-content.disable-scroll {
  overflow: hidden !important;
}

.#{$prefix}-content.has-refresher > .scroll-content {
  background-color: inherit;
}

// Fixed Content (ion-fixed and ion-fab)
// --------------------------------------------------

.fixed-content {
  position: fixed;
  left: 0;
  z-index: $z-index-fixed-content;
  display: block;
  width: 100%;
  height: 0;

  [fixed],
  [refresher],
  [fixed-top],
  [fixed-bottom] {
    position: absolute;
    z-index: $z-index-fixed-content + 10;
  }

  [fixed],
  [refresher],
  [fixed-top] {
    top: 0;
  }

  [fixed-bottom] {
    bottom: 0;
  }
}

// Content Padding
// --------------------------------------------------

.#{$prefix}-app [no-padding]:not(.#{$prefix}-content),
.#{$prefix}-app [no-padding] .scroll-content {
  @include padding(0);
}

@mixin content-padding($mode, $content-padding) {
  .#{$prefix}-app.#{$mode} [padding]:not(.#{$prefix}-content) {
    @include padding($content-padding);
  }

  .#{$prefix}-app.#{$mode} [padding-top]:not(.#{$prefix}-content) {
    @include padding($content-padding, null, null, null);
  }

  .#{$prefix}-app.#{$mode} [padding-left]:not(.#{$prefix}-content) {
    @include padding-horizontal($content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-right]:not(.#{$prefix}-content) {
    @include padding-horizontal(null, $content-padding);
  }

  .#{$prefix}-app.#{$mode} [padding-bottom]:not(.#{$prefix}-content) {
    @include padding(null, null, $content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-vertical]:not(.#{$prefix}-content) {
    @include padding($content-padding, null, $content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-horizontal]:not(.#{$prefix}-content) {
    @include padding-horizontal($content-padding);
  }

  // Scroll content should use safe-area-padding
  .#{$prefix}-app.#{$mode} [padding] .scroll-content {
    @include safe-area-padding($content-padding);
  }

  .#{$prefix}-app.#{$mode} [padding-top] .scroll-content {
    @include safe-area-padding($content-padding, null, null, null);
  }

  .#{$prefix}-app.#{$mode} [padding-left] .scroll-content {
    @include safe-area-padding-horizontal($content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-right] .scroll-content {
    @include safe-area-padding-horizontal(null, $content-padding);
  }

  .#{$prefix}-app.#{$mode} [padding-bottom] .scroll-content {
    @include safe-area-padding(null, null, $content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-vertical] .scroll-content {
    @include safe-area-padding($content-padding, null, $content-padding, null);
  }

  .#{$prefix}-app.#{$mode} [padding-horizontal] .scroll-content {
    @include safe-area-padding-horizontal($content-padding);
  }
}

// Content Margin
// --------------------------------------------------

.#{$prefix}-app [no-margin]:not(.#{$prefix}-content),
.#{$prefix}-app [no-margin] .scroll-content {
  @include margin(0);
}

@mixin content-margin($mode, $content-margin) {
  .#{$prefix}-app.#{$mode} [margin]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin] .scroll-content {
    @include margin($content-margin);
  }

  .#{$prefix}-app.#{$mode} [margin-top]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-top] .scroll-content {
    @include margin($content-margin, null, null, null);
  }

  .#{$prefix}-app.#{$mode} [margin-left]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-left] .scroll-content {
    // scss-lint:disable PropertySpelling
    margin-left: $content-margin;
  }

  .#{$prefix}-app.#{$mode} [margin-start]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-start] .scroll-content {
    @include margin-horizontal($content-margin, null);
  }

  .#{$prefix}-app.#{$mode} [margin-right]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-right] .scroll-content {
    // scss-lint:disable PropertySpelling
    margin-right: $content-margin;
  }

  .#{$prefix}-app.#{$mode} [margin-end]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-end] .scroll-content {
    @include margin-horizontal(null, $content-margin);
  }

  .#{$prefix}-app.#{$mode} [margin-bottom]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-bottom] .scroll-content {
    @include margin(null, null, $content-margin, null);
  }

  .#{$prefix}-app.#{$mode} [margin-vertical]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-vertical] .scroll-content {
    @include margin($content-margin, null, $content-margin, null);
  }

  .#{$prefix}-app.#{$mode} [margin-horizontal]:not(.#{$prefix}-content),
  .#{$prefix}-app.#{$mode} [margin-horizontal] .scroll-content {
    @include margin-horizontal($content-margin);
  }
}
