@import "../default.ios";

// iOS Content
// --------------------------------------------------

/// @prop - Background color of the outer content
$content-ios-outer-background: #efeff4 !default;

a {
  color: $link-color;
}


.content-ios {
  color: $text-ios-color;
  background-color: $background-ios-color;
}

// outer-content是用户自定义类, 不是由组件自己添加的
.content-ios.outer-content {
  background: $content-ios-outer-background;
}

.content-ios hr {
  height: $hairlines-width;

  background-color: rgba(0, 0, 0, .12);
}

// iOS Content Scroll
// --------------------------------------------------

.content-ios:not([no-bounce]) > .scroll-content::before,
.content-ios:not([no-bounce]) > .scroll-content::after {
  position: absolute;

  width: 1px; /*no*/
  height: 1px; /*no*/

  content: "";
}

.content-ios:not([no-bounce]) > .scroll-content::before {
  bottom: -1px; /*no*/
}

.content-ios:not([no-bounce]) > .scroll-content::after {
  top: -1px; /*no*/
}

// Content Padding
// --------------------------------------------------

.ion-app [no-padding],
.ion-app [no-padding] .scroll-content {
  padding: 0;
}

.ion-app [padding],
.ion-app [padding] .scroll-content {
  padding: $content-padding;
}
