@import "../themes/globals";


// Icon
// --------------------------------------------------


.ion-icon {
  display: inline-block;
  font-size: 1.2em;
}

.ion-icon[small] {
  min-height: 1.1em;
  font-size: 1.1em;
}
// iOS Icon
// --------------------------------------------------


// Generate iOS Icon Colors
// --------------------------------------------------

@each $color-name, $color-base in get-colors($colors) {
  .icon-#{$color-name} {
    color: $color-base;
  }

}
