@import "../../style/globals";

// Icon
// --------------------------------------------------

.#{$prefix}-icon {
  display: inline-block;
  font-size: 1.2em;
}

.#{$prefix}-icon[small] {
  min-height: 1.1em;
  font-size: 1.1em;
}
