@import "../../../../style/ionic.globals.md";

// Material Design Sheet
// --------------------------------------------------

/// @prop - Background color of the pop sheet
$pop-sheet-md-background: #fafafa !default;

/// @prop - Text align of the pop sheet
$pop-sheet-md-text-align: left !default;

/// @prop - Padding of the pop sheet
$pop-sheet-md-padding: 0 !default;

/// @prop - Box shadow color of the pop-sheet
$pop-sheet-md-box-shadow-color: rgba(0, 0, 0, 0.4) !default;

/// @prop - Box shadow of the pop-sheet
$pop-sheet-md-box-shadow: 0 16px 20px $pop-sheet-md-box-shadow-color !default;
/// @prop - Border radius of the pop-sheet
$pop-sheet-md-border-radius: 2px !default;

.pop-sheet-md {
  text-align: $pop-sheet-md-text-align;
}

.pop-sheet-md .sheet-container {
  padding: $pop-sheet-md-padding;
  background-color: $pop-sheet-md-background;
  border-radius: $pop-sheet-md-border-radius;
  box-shadow: $pop-sheet-md-box-shadow;
}
