@import "../../../themes/ionic.globals";

$city-selector-background-color: #f4f4f4 !default;

$city-selector-background-color-active: #d9d9d9 !default;

.vm-city-selector {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay + $z-index-overlay-modal;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $city-selector-background-color;
  transition: transform ease 300ms, opacity ease 300ms;
}

.city-shortcut {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
  display: flex;
  width: 46px;
  padding-right: 2px;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: flex-end;
  justify-content: center;
  
  .shortcut-item {
    display: flex;
    width: 16px;
    height: 16px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
}

.city-selector-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.city-selector {
  position: relative;
  z-index: 1;
  min-height: 100%;
  background: #fff;
  
  .group-header {
    position: relative;
    z-index: 100;
    display: flex;
    width: 100%;
    min-height: 30px;
    padding-left: 16px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    background-color: $city-selector-background-color;
    transition: background-color 200ms linear;
    align-items: center;
    justify-content: space-between;
  }
  
  .group-item {
    position: relative;
    display: flex;
    padding-left: 16px;
    overflow: hidden;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border-radius: 0;
    transition: background-color 200ms linear;
    align-items: center;
    justify-content: space-between;
  }
  
  .group-item div {
    display: block;
    width: 100%;
    height: 44px;
    padding-right: 8px;
    margin: 0;
    line-height: 44px;
    text-decoration: none;
    flex-direction: inherit;
    border: 0;
    border-bottom: 1px solid #c8c7cc;
    flex: 1;
  }
  
  .group-item:last-child div {
    border: none;
  }
  
  .group-item:active {
    background-color: $city-selector-background-color-active;
    transition-duration: 0ms;
  }
  
  .group-hotbox {
    display: flex;
    padding: 0 14px;
    margin: 0 auto;
    background-color: $city-selector-background-color;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hotbox-wrap {
    width: 25%;
    box-sizing: border-box;
    
    .wrap-city {
      padding: 12px 0;
      margin: 4px;
      text-align: center;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 6px;
      transition: background-color 200ms linear;
      
      &:active {
        background: $city-selector-background-color-active;
      }
    }
  }
}