@import "../../style/globals";

// Search Bar
// --------------------------------------------------

.#{$prefix}-searchbar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  
  .searchbar-icon {
    // Don't let them tap on the icon
    pointer-events: none;
  }
  
  .searchbar-input-container {
    position: relative;
    display: block;
    width: 100%;
    
    will-change: width;
    transform: translate3d(0, 0, 0);
    flex-shrink: 1;
  }
  
  .searchbar-input {
    display: block;
    width: 100%;
    font-family: inherit;
    border: 0;
    
    will-change: padding-left;
    transform: translate3d(0, 0, 0);
    
    @include appearance(none);
  }
  .searchbar-clear-icon {
    display: none;
    min-height: 0;
    
    @include margin(0);
    @include padding(0);
  }
}

.searchbar-has-value.searchbar-has-focus .searchbar-clear-icon {
  display: block;
}
