@import "../../themes/globals";

// Backdrop
// --------------------------------------------------

/// @prop - Color of the backdrop
$backdrop-color: #000 !default;

.ion-backdrop {
  @include position(0, null, null, 0);

  position: absolute;
  z-index: $z-index-backdrop;
  display: block;

  width: 100%;
  height: 100%;

  background-color: $backdrop-color;
  opacity: .3;
  transform: translateZ(0);
}

.ion-backdrop.backdrop-no-tappable {
  cursor: auto;
}


.ion-backdrop-fade-enter-active {
  transition: opacity .35s
}

.ion-backdrop-fade-leave-active {
  transition: opacity .35s
}

.ion-backdrop-fade-enter, .ion-backdrop-fade-leave-to {
  opacity: 0.01;
}

.pointer--none {
  pointer-events: none;
}

.pointer--auto {
  pointer-events: auto;
}