$OFF_BOTTOM: 40px;
$EASING: cubic-bezier(0.36, 0.66, 0.04, 1);
$DURATION: 500ms;
$CENTER: 0px;
$OPACITY: opacity;
$TRANSFORM: -webkit-transform;

$OPACITY_ZERO: 0;

/*const TRANSLATEY = 'translateX';*/

/*-------- md 进入动画(forward) --------*/
/*    fade-right-transition-forward    */

// 进入的页面
.fade-right-transition-forward-enter {
  transform: translateX($OFF_BOTTOM);
  opacity: $OPACITY_ZERO !important;
}

.fade-right-transition-forward-enter-active {
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
}

// 退出的页面
.fade-right-transition-forward-leave-active {
  transition-duration: $DURATION;
}

/*-------- md 后退动画(backward) --------*/
/*    fade-right-transition-backward    */

// 进入的页面
.fade-right-transition-backward-enter {
}

.fade-right-transition-backward-enter-active {
  transition-duration: $DURATION;
}

// 退出的页面
.fade-right-transition-backward-leave-active {
  transform: translateX($OFF_BOTTOM);
  opacity: $OPACITY_ZERO !important;
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
}
