$EASING: cubic-bezier(0.36, 0.66, 0.04, 1);
$DURATION: 500ms;
$CENTER: 0px;
$OPACITY: opacity;
$TRANSFORM: -webkit-transform;
$SCALE: scale;
$SCALE_SMALL: .95;
$OPACITY_ZERO: 0.01;
$TRANSFORM_ORIGIN: center center;

/*-------- md 进入动画(forward) --------*/
/*    zoom-transition-forward    */

// 进入的页面
.zoom-transition-forward-enter {
  transform: scale($SCALE_SMALL);
  opacity: $OPACITY_ZERO !important;
}

.zoom-transition-forward-enter-active {
  transform-origin: $TRANSFORM_ORIGIN;
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
}

// 退出的页面
.zoom-transition-forward-leave-active {
  transform-origin: $TRANSFORM_ORIGIN;
  transition-duration: $DURATION;
}

/*-------- md 后退动画(backward) --------*/
/*    zoom-transition-backward    */

// 进入的页面
.zoom-transition-backward-enter {}

.zoom-transition-backward-enter-active {
  transform-origin: $TRANSFORM_ORIGIN;
  transition-duration: $DURATION;
}

// 退出的页面
.zoom-transition-backward-leave-active {
  transform: scale($SCALE_SMALL);
  opacity: $OPACITY_ZERO !important;
  transition: $TRANSFORM $DURATION $EASING, $OPACITY $DURATION $EASING;
  transform-origin: $TRANSFORM_ORIGIN;
}
