@import "../../../themes/ionic.globals";

// List
// --------------------------------------------------

.ion-list-header {
  display: flex;
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  
  @include margin(0);
  @include padding(0);
}

.ion-list {
  display: block;
  list-style-type: none;
  
  @include margin(0);
  @include padding(0);
  &::before,
  &::after {
    display: table;
    content: " ";
  }
}

.ion-list[inset] {
  overflow: hidden;
  transform: translateZ(0);
}

