@import "./style/loading.scss";
@import "./style/loading.ios.scss";
@import "../../animations/alert.scss";

.ion-loading.indicator {
  .loading-wrapper {
    padding: 13px;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    
    circle,
    line {
      stroke: #fff !important;
    }
    
    .loading-spinner {
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
    }
  }
}

.indicator.reverse {
  .loading-wrapper {
    background: rgba(256, 256, 256, 0.9);
    
    circle,
    line {
      stroke: #000 !important;
    }
  }
}
