@import "../../themes/ionic.globals.wp";

// Windows Phone Toast
// --------------------------------------------------

/// @prop - Background of the toast wrapper
$toast-wp-background: rgba(0, 0, 0, 1) !default;

/// @prop - Border radius of the toast wrapper
$toast-wp-border-radius: 0 !default;

/// @prop - Color of the toast button
$toast-wp-button-color: #fff !default;

/// @prop - Color of the toast title
$toast-wp-title-color: #fff !default;

/// @prop - Font size of the toast title
$toast-wp-title-font-size: 1.4rem !default;

/// @prop - Padding of the toast title
$toast-wp-title-padding: 1.5rem !default;

.toast-wp .toast-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  max-width: $toast-max-width;

  border-radius: $toast-wp-border-radius;
  background: $toast-wp-background;
}

.toast-wp .toast-wrapper.toast-top {
  top: 0;
  transition: all cubic-bezier(0, 0, 0.05, 1) 200ms;

}

.toast-wp .toast-wrapper.toast-bottom {
  bottom: 0;
  transition: all cubic-bezier(0, 0, 0.05, 1) 200ms;
}

.toast-wp .toast-wrapper.toast-middle {
  top: 38.2%;
  transition: all cubic-bezier(0, 0, 0.05, 1) 200ms;
}

.toast-message {
  padding: $toast-wp-title-padding;

  font-size: $toast-wp-title-font-size;

  color: $toast-wp-title-color;
}

.toast-button {
  color: $toast-wp-button-color;
}

// transition

/*top*/
.toast-top-wp-enter-active, .toast-top-wp-leave-active {
  transform: scale(1);
  opacity: 1;
}

.toast-top-wp-enter, .toast-top-wp-leave-active {
  transform: scale(1.3);
  opacity: 0.01;
}

/*bottom*/
.toast-bottom-wp-enter-active, .toast-bottom-wp-leave-active {
  transform: scale(1);
  opacity: 1;
}

.toast-bottom-wp-enter, .toast-bottom-wp-leave-active {
  transform: scale(1.3);
  opacity: 0.01;
}

/*middle*/
.toast-middle-wp-enter-active, .toast-middle-wp-leave-active {
  transform: scale(1);
  opacity: 1;
}

.toast-middle-wp-enter, .toast-middle-wp-leave-active {
  transform: scale(1.3);
  opacity: 0.01;
}
