.alert-enter-active, .alert-leave-active {
  transform: scale(1);
  opacity: 1;
}

.alert-enter {
  transform: scale(1.1);
  opacity: 0;
}

.alert-leave-active {
  transform: scale(0.9);
  opacity: 0;
}