@import "style/toast-state";

.toast-state-success {
  background-image: url("icon/success@2x.png");
}

.toast-state-fail {
  background-image: url("icon/fail@2x.png");
}

.toast-state-offline {
  background-image: url("icon/offline@2x.png");
}
