@import "../../default.md";

// Material Design Loading Indicator
// --------------------------------------------------

/// @prop - Padding of the loading wrapper
$loading-md-padding: 24px !default;

/// @prop - Max width of the loading wrapper
$loading-md-max-width: 280px !default;

/// @prop - Maximum height of the loading wrapper
$loading-md-max-height: 90% !default;

/// @prop - Border radius of the loading wrapper
$loading-md-border-radius: 2px !default;

/// @prop - Text color of the loading wrapper
$loading-md-text-color: rgba(0, 0, 0, .5) !default;

/// @prop - Background of the loading wrapper
$loading-md-background: #fafafa !default;

/// @prop - Box shadow color of the loading wrapper
$loading-md-box-shadow-color: rgba(0, 0, 0, .4) !default;

/// @prop - Box shadow of the loading wrapper
$loading-md-box-shadow: 0 16px 20px $loading-md-box-shadow-color !default;

/// @prop - Color of the loading spinner
//$loading-md-spinner-color:             color($colors, primary) !default;
$loading-md-spinner-color: #327eff !default;

/// @prop - Color of the ios loading spinner
$loading-md-spinner-ios-color: $loading-md-spinner-color !default;

/// @prop - Color of the bubbles loading spinner
$loading-md-spinner-bubbles-color: $loading-md-spinner-color !default;

/// @prop - Color of the circles loading spinner
$loading-md-spinner-circles-color: $loading-md-spinner-color !default;

/// @prop - Color of the crescent loading spinner
$loading-md-spinner-crescent-color: $loading-md-spinner-color !default;

/// @prop - Color of the dots loading spinner
$loading-md-spinner-dots-color: $loading-md-spinner-color !default;

.loading-md .loading-wrapper {
  padding: $loading-md-padding;

  max-width: $loading-md-max-width;
  max-height: $loading-md-max-height;

  border-radius: $loading-md-border-radius;
  color: $loading-md-text-color;
  background: $loading-md-background;

  box-shadow: $loading-md-box-shadow;
  // addStyle
  transition: transform ease-in-out 200ms, opacity ease-in-out 200ms;
}

// Material Design Loading Content
// -----------------------------------------

.loading-md .loading-spinner + .loading-content {
  margin-left: 16px;
}

// Material Design Loading Spinner fill colors
// -----------------------------------------

.loading-md .spinner-ios line,
.loading-md .spinner-ios-small line {
  stroke: $loading-md-spinner-ios-color;
}

.loading-md .spinner-bubbles circle {
  fill: $loading-md-spinner-bubbles-color;
}

.loading-md .spinner-circles circle {
  fill: $loading-md-spinner-circles-color;
}

.loading-md .spinner-crescent circle {
  stroke: $loading-md-spinner-crescent-color;
}

.loading-md .spinner-dots circle {
  fill: $loading-md-spinner-dots-color;
}

// transitioName = 'loading-md'
.loading-md-enter-active, .loading-md-leave-active {
  transform: scale(1);
  opacity: 1;
}

.loading-md-enter {
  transform: scale(1.1);
  opacity: 0;
}

.loading-md-leave-active {
  transform: scale(0.9);
  opacity: 0;
}
