@import "../default.md";

// Material Design Modals
// --------------------------------------------------

/// @prop - Background color for the modal
$modal-md-background-color: $background-md-color !default;

/// @prop - Box shadow color of the alert
$modal-inset-box-shadow-color: rgba(0, 0, 0, .4) !default;

/// @prop - Box shadow of the alert
$modal-inset-box-shadow: 0 28px 48px $modal-inset-box-shadow-color !default;

/// @prop - Min width of the modal inset
$modal-inset-min-width: 768px !default;

/// @prop - Minimum height of the small modal inset
$modal-inset-min-height-small: 600px !default;

.md .modal-wrapper {
  transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 400ms;
  @media only screen and (min-width: $modal-inset-min-width) and (min-height: $modal-inset-min-height-small) {
    overflow: hidden;

    border-radius: 2px;

    box-shadow: $modal-inset-box-shadow;
  }

}

// transitioName = 'modal-md'
.modal-md-enter-active, .modal-md-leave-active {
  transform: translateY(0px);
  opacity: 1;
}

.modal-md-enter, .modal-md-leave-active {
  transform: translateY(40px);
  opacity: 0.01;
}
