@import "../../themes/globals";

// Content
// --------------------------------------------------

.ion-content {
  position: relative;
  top: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 100%;

  contain: layout size style;
}

.ion-page > .ion-content {
  position: absolute;
}

a {
  //color: $link-color;
  color: red;
}

// Scrollable Content
// --------------------------------------------------

.scroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-scroll-content;
  display: block;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;

  contain: size style layout;
}

//.ion-content.js-scroll {
//  //padding: 0 !important;
//  //overflow: hidden;
//  & > .scroll-content {
//    //padding: 0 !important;
//  }
//  //.scroll-wrap {
//  //  position: absolute;
//  //  z-index: 1;
//  //  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//  //  width: 100%;
//  //  -webkit-transform: translateZ(0);
//  //  -moz-transform: translateZ(0);
//  //  -ms-transform: translateZ(0);
//  //  -o-transform: translateZ(0);
//  //  transform: translateZ(0);
//  //  -webkit-touch-callout: none;
//  //  -webkit-user-select: none;
//  //  -moz-user-select: none;
//  //  -ms-user-select: none;
//  //  user-select: none;
//  //  -webkit-text-size-adjust: none;
//  //  -moz-text-size-adjust: none;
//  //  -ms-text-size-adjust: none;
//  //  -o-text-size-adjust: none;
//  //  text-size-adjust: none;
//  //}
//}
//
//.ion-app .js-scroll[padding] {
//  & > .scroll-content {
//    padding: 0 !important;
//  }
//  .scroll-wrap {
//    padding: $content-padding;
//  }
//}


.disable-scroll .ion-page {
  pointer-events: none;
  touch-action: none;
}

// Fixed Content (fixed and fab)
// --------------------------------------------------

.fixed-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.fixed-content [fixed] {
  position: absolute;
  width: 100%;
  // if move to fixed-content class, then page can not click
  z-index: $z-index-fixed-content;
  transform: translateZ(0);
}

// fixed Position
.fixed-content [fixed][top] {
  top: 0;
}

.fixed-content [fixed][bottom] {
  bottom: 0;
}

// Content Padding
// --------------------------------------------------

.ion-app [no-padding],
.ion-app [no-padding] .scroll-content {
  padding: 0;
}

.ion-app [padding],
.ion-app [padding] .scroll-content {
  padding: $content-padding;
}
