@import "../../../style/globals";

// Icon Toast
// --------------------------------------------------

/// @prop - Width of the toast
$toast-state-width: 100% !default;

/// @prop - Max width of the toast
$toast-state-max-width: 300px !default;

.#{$prefix}-toast-state {
  position: fixed;
  z-index: $z-index-overlay + $z-index-overlay-toast;
  display: flex;
  
  width: $toast-state-width;
  height: $toast-state-width;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  contain: strict;
  
  @include position(0, null, null, 0);
}

.toast-state-wrapper {
  position: relative;
  z-index: $z-index-overlay-wrapper;
  display: block;
  min-width: 150px;
  max-width: $toast-state-max-width;
  margin-bottom: 30px;
  
  transition: opacity cubic-bezier(0.36, 0.66, 0.04, 1) 400ms;
}

.toast-state-container {
  display: flex;
  pointer-events: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  contain: content;
  
  @include margin(auto);
  
  .toast-state-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-bottom: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .toast-state-message {
    flex: 1;
  }
}
