@import "../../../themes/globals";

// Item Media
// --------------------------------------------------
// Icons, avatars, thumbnails, notes, etc.

.item > .#{$prefix}-icon[small]:first-child,
.item-inner > .#{$prefix}-icon[small]:first-child {
  min-width: 18px;
}

.item > .#{$prefix}-icon:first-child,
.item-inner > .#{$prefix}-icon:first-child {
  min-width: 24px;

  @include text-align(center);
}

.item > .#{$prefix}-icon,
.item-inner > .#{$prefix}-icon {
  min-height: 28px;
  font-size: 28px;
  line-height: 1;
}

.item > .#{$prefix}-icon[large],
.item-inner > .#{$prefix}-icon[large] {
  min-height: 32px;
  font-size: 32px;
}

.item > .#{$prefix}-icon[small],
.item-inner > .#{$prefix}-icon[small] {
  min-height: 18px;
  font-size: 18px;
}

.#{$prefix}-avatar,
.#{$prefix}-thumbnail {
  display: block;
  line-height: 1;
}

.#{$prefix}-avatar img,
.#{$prefix}-thumbnail img {
  display: block;
}

button.item-cover,
[ion-button].item-cover,
.#{$prefix}-button.item-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;

  @include position(0, null, null, 0);
}
