@import "../../themes/globals";

// Action Sheet
// --------------------------------------------------

$action-sheet-width:                             100% !default;
$action-sheet-max-width:                         500px !default;


.action-sheet {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
  display: block;

  width: $action-sheet-width;
  height: $action-sheet-width;
}

.action-sheet-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  width: $action-sheet-width;
  max-width: $action-sheet-max-width;
  // added
  transition: all cubic-bezier(.36,.66,.04,1) 400ms
}

.action-sheet-button {
  width: $action-sheet-width;
}
