// !!!!! this is a Global theme definition !!!!!
// !!!!! this is a Global theme definition !!!!!
// structure belows:
//
//         functions       minxins
//           |              |
//           ---------------
//                  |
//               globals
//                  |
//    ---------------------------
//    |             |           |
// globals.ios      |       globals.md
//    |             |           |
// comp.ios       comp        comp.md
//


// Global Functions
@import "functions";


// Global Mixins
@import "mixins";



// Global include-rtl
$include-rtl: true !default;


//// Global font path
//$font-path: "../fonts" !default;
//
//
//// Ionicons font path
//$ionicons-font-path: $font-path !default;


// Hairline width
$hairlines-width: .55px !default;


// Z-Index
// --------------------------------------------------
// Grouped by elements which would be siblings

$z-index-menu-reveal:            80;
$z-index-menu-push:              80;
$z-index-menu-overlay:           80;

$z-index-menu-backdrop:          79;



$z-index-overlay:                1000;
$z-index-overlay-backdrop:       50;
$z-index-overlay-modal:          100;
$z-index-overlay-actionSheet:    150;
$z-index-overlay-alert:          200;
$z-index-overlay-loading:        250;
$z-index-overlay-toast:          300;




$z-index-click-block:            99999;

$z-index-fixed-content:          999;
$z-index-scroll-content:         1;
$z-index-refresher:              0;

$z-index-page-container:         0;
$z-index-toolbar:                10;
$z-index-toolbar-background:     -1;

$z-index-backdrop:               2;
$z-index-overlay-wrapper:        10;

$z-index-item-options:           1;
$z-index-item-divider:          100;


// Default Theme
// ----------------------------------

$colors: (

  //primary: #36a8ee,
  //secondary:  #27ae60,
  //danger:     #e74c3c,
  //light:      #ecf0f1,
  //dark:       #2c3e50,
  //      primary:    #4a90e2,
  //      secondary:  #32db64,
  //      danger:     #f53d3d,
  //      light:      #f4f4f4,
  //      dark:       #222,

        primary:    #327eff,
        secondary:  #32db64,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,

) !default;


$text-color:                 #000 !default;
$link-color:                 color($colors, primary) !default;
$background-color:           #fff !default;
$subdued-text-color:         #666 !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             14px !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$toolbar-background:         #f8f8f8 !default;
$toolbar-border-color:       #b2b2b2 !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$tabs-background:            #f8f8f8 !default;
$tabs-border-color:          #b2b2b2 !default;
$tabs-tab-color-inactive:    #8c8c8c !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      $background-color !default;
$list-border-color:          #c8c7cc !default;


