.vm-scroll-segment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .scroll-segment-outer {
    position: relative;
    // for hide scroll bar
    height: calc(100% + 10px);
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .scroll-segment-wrap {
    display: inline-flex;
    // for hide scroll bar
    height: calc(100% - 10px);
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
